<!--New html page on Codepen.io-->
<!--HTml site in cyber network-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  
  <!--Head section-->
  <head>
    <title>Navigation bar</title>
    <meta charset="utf-8">
	<meta name="author" content="anonymous">
	<meta name="generator" content="Sublime text3">
	<meta name="robot" content="index, follow">
	<meta http-equiv="refresh" content="">
	<meta name="description" content="This is navigation bar on html page">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keyowrds" content="html, navigation bar, navigation, bar, javascript, content">
    <link rel="stylesheet" href="/navbar.css">
  </head>
  